body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  height: 100vh;
}

.wrapper {
  background-color: #ffff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container {
  margin-top: 30px;
  border-top: 1px solid #00000059;
}

h2{
  margin: 0;
}

h1 {
  margin-bottom: 40px;
}

.input-container-add {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 20px;
  flex: 1;
}

#add-btn {
  padding: 5px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

#add-btn:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

li {
  background: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group-action {
  display: flex;
  gap: 1px;
}

button {
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 5px 5px;
}

.edit-btn {
  background-color: #28a745;
}

.edit-btn:hover {
  background-color: #218838;
}

.delete-btn {
  background-color: #dc3545;
}

.delete-btn:hover {
  background-color: #c82333;
}

.complete-btn {
  background-color: #007bff;
}

.complete-btn:hover {
  background-color: #0056b3;
}

.reload-btn {
  display: none;
}

.reload-btn:hover {
  background-color: #ccc;
}

.input-container-edit {
  display: none;
  justify-content: center;
  margin-bottom: 20px;
}

.input-container-edit button {
  margin: 0 5px;
  padding: 0 10px;
}

#acceptEdit-btn {
  color: #fff;
  background-color: #28a745;
}

#acceptEdit-btn:hover {
  background-color: #218838;
}

#cancel-btn {
  background-color: #eee;
}

#cancel-btn:hover {
  background-color: #eaeaea;
}

/* Part dunamic class */
.complete-todo {
  color: #aaa;
}

.complete-todo > span {
  text-decoration: line-through;
}

.complete-todo > .group-action > .complete-btn,
.complete-todo > .group-action > .edit-btn,
.complete-todo > .group-action > .delete-btn {
  display: none;
}

.complete-todo > .group-action > .reload-btn {
  display: block;
}

.container-hidden {
  display: none !important;
}

.container-display {
  display: flex;
}

.hidden-edit{
  color: #aaa !important;
}

.hidden-edit > .group-action {
  display: none !important;
}
